<!-- Footer -->
<footer class="md-footer">

    <!-- Link to previous and/or next page -->
    {% if "navigation.footer" in features %}
    {% set nav_key = page.url.strip('/') if page is not none else '' %}
    {% set nav = config.extra.page_navigation.get(nav_key, {'previous_page': None, 'next_page': None}) if
    config.extra.get('page_navigation') and nav_key else {'previous_page': None, 'next_page': None} %}
    {% if nav and (nav.previous_page or nav.next_page) %}
    {% if page is not none and page.meta is defined and page.meta.get('hide') %}
    {% set hidden = "hidden" if "footer" in page.meta.hide %}
    {% endif %}
    <nav class="md-footer__inner md-grid" aria-label="{{ lang.t('footer') }}" {{ hidden }}>

        <!-- Link to previous page -->
        {% if nav.previous_page %}
        {% set direction = lang.t("footer.previous") %}
        <a href="{{ nav.previous_page.url | url }}" class="md-footer__link md-footer__link--prev"
            aria-label="{{ direction }}: {{ nav.previous_page.title | e }}">
            <div class="md-footer__button md-icon">
                {% set icon = config.theme.icon.previous or "material/arrow-left" %}
                {% include ".icons/" ~ icon ~ ".svg" %}
            </div>
            <div class="md-footer__title">
                <span class="md-footer__direction">
                    {{ direction }}
                </span>
                <div class="md-ellipsis">
                    {{ nav.previous_page.title }}
                </div>
            </div>
        </a>
        {% endif %}

        <!-- Link to next page -->
        {% if nav.next_page %}
        {% set direction = lang.t("footer.next") %}
        <a href="{{ nav.next_page.url | url }}" class="md-footer__link md-footer__link--next"
            aria-label="{{ direction }}: {{ nav.next_page.title | e }}">
            <div class="md-footer__title">
                <span class="md-footer__direction">
                    {{ direction }}
                </span>
                <div class="md-ellipsis">
                    {{ nav.next_page.title }}
                </div>
            </div>
            <div class="md-footer__button md-icon">
                {% set icon = config.theme.icon.next or "material/arrow-right" %}
                {% include ".icons/" ~ icon ~ ".svg" %}
            </div>
        </a>
        {% endif %}
    </nav>
    {% endif %}
    {% endif %}

    <!-- Further information -->
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            {% include "partials/copyright.html" %}

            <!-- Social links -->
            {% if config.extra.social %}
            {% include "partials/social.html" %}
            {% endif %}
        </div>
    </div>
</footer>